.profiledropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--clr-primary-dark);
  padding: 0.25rem 0.75rem;
  display: none;
  z-index: 9999;
  padding: 0 0.5em 0.5em;
}

.profile:focus-within .profiledropdown,
.profile:hover .profiledropdown {
  display: block;
}

.profiledropdown a {
  display: block;
  margin-block: 0.5em;
  color: var(--clr-accent);
}

.profiledropdown p {
  display: block;
  white-space: nowrap;
  margin-block: 0.5em;
}
